.btn {
  box-shadow: 1px 1px 4px $lighter-grey-overlay !important;
  font-family: $font-family-sans;
  font-weight: $font-weight-light;
  line-height: 1 !important;
  outline: none !important;
  padding-left: 5px;
  padding-right: 5px;
  transition: none !important;
  border-radius: $border-radius;

  &:active,
  &:hover {
    outline: none !important;
  }

  &.round {
    height: 25px !important;
    padding: 0;
    width: 25px !important;
  }

  &.datatable {
    font-size: 11px;
    height: 24px !important;
    padding: 0 !important;
    width: 80px !important;
  }

  &.btn-link {
    padding: 0;
  }

  &.btn-grey {
    background-color: $color-grey !important;
    border-color: $color-grey !important;
    color: $color-white !important;
  }

  &.btn-black {
    background-color: $color-black !important;
    border-color: $color-black !important;
    color: $color-white !important;
  }

  &.btn-purple {
    background-color: $color-purple !important;
    border-color: $color-purple !important;
    color: $color-white !important;
  }

  &.btn-darkpurple {
    background-color: $color-darkpurple !important;
    border-color: $color-darkpurple !important;
    color: $color-white !important;
  }
}

