.floating-card-header {
  color: $color-white;
  //text-shadow: 0 2px 3px $grey-overlay;
}

.card {
  background: $color-white;
  border-radius: $border-radius;
  color: $color-black;

  &.error,
  &.success {
    border: 1px solid $color-lightgrey !important;
    font-size: $font-size-smaller;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  &.error {
    .card-body {
      align-items: center;
      color: $color-danger;
      display: flex;
      height: 36px;
      justify-content: center;
      line-height: 1;
      padding: 0;
    }
  }

  &.success {
    .card-body {
      color: $color-success;
    }
  }

  &.has-shadow {
    box-shadow: 0 0 5px $dark-grey-overlay;
  }
}
