.content-container {
  margin-bottom: 30px;

  .header {
    display: inline-block;
    font-weight: 700;
  }

  .subheader {
    color: $color-lightpurple;
    display: inline-block;
    float: right;
    font-style: italic;
    text-transform: lowercase;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
