.csv-uploader {
  height: 350px;
  position: relative;
  padding: 0;
  background: $lightest-grey-overlay;

  .csv-message {
    padding: 0 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .clear-files,
    .browse-files {
      z-index: 99999;
    }
  }

  .csv-reader-input {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 4px;

    #csv-input {
      background: none !important;
      border: 0 !important;
      box-shadow: none !important;
      height: 380px;
      position: absolute;
      top: -30px;
      width: 100%;
    }
  }
}
