#csv-upload {
  .csv-status,
  .drop-zone {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: $font-size-small;
    height: 38px;
    justify-content: center;
    overflow: hidden;
  }

  .drop-zone {
    background: radial-gradient($color-lightgrey 1px, transparent 0);
    background-size: 3px 3px !important;
    color: $color-black;
    font-size: $font-size-root;
    outline: none !important;
  }

  .btn {
    height: 38px;
  }
}



