.empty-prompt {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 282px) !important;
  justify-content: center;
  line-height: 1.5 !important;

  > .warning-text {
    color: $color-warning !important;
  }

  &.narrow {
    padding-left: 25%;
    padding-right: 25%;
  }
}
