.file-browser {
  ul, li {
  }
  .folder-container {
    padding-left: 0px;
  }
  .file {
    border: 0;
    background: transparent;
    list-style-type: none;
    color: white ;
    outline: none !important; // TODO: not accessible, style differently
    margin: 0;
    padding: 0;
  }
  .folder {
    padding-left: 15px;
  }
  .folder.folder-contents-closed {
    display: none;
  }
  .folder.folder-contents-open {
    display: block;
  }
}
