input,
select,
textarea,
.fake-input,
.form-control {
  background: $light-white-overlay !important;
  border: 1px solid $color-lightgrey !important;
  border-radius: $border-radius;
  box-shadow: none !important;
  color: $color-black;
  font-family: $font-family-sans;
  font-size: $font-size-root;
  font-weight: $font-weight-light;
  height: 38px;
  transition: none;

  &::placeholder {
    color: $color-grey !important;
    font-family: $font-family-sans;
    font-weight: $font-weight-light;
  }

  &.is-invalid,
  &.error {
    border: 1px solid $color-danger !important;
  }
}

textarea {
  height: auto !important;
  resize: none;
}

.form-status {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.input-static,
.fake-input {
  cursor: not-allowed;
  height: 38px;
  overflow: hidden;
  padding: 10px 12px 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nio-check-mark::before {
  content: '\f00c';
}

.nio::before {
  font-family: 'FontAwesome', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400 !important;
  text-transform: none;
  vertical-align: top;
}

.radio-button > div {
  border-bottom: 1px solid $color-lightergrey;
  padding: 8px 0;
  white-space: nowrap;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 4px;
  }
}

.radio-checkbox-label {
  overflow-x: hidden;
  white-space: nowrap;
}

#__lpform_input_idx_0_numspan,
#__lpform_input_idx_1_numspan,
#__lpform_input_idx_2_numspan,
#__lpform_input_idx_3_numspan,
#__lpform_input_idx_4_numspan {
  display: none !important;
}

.subdomain-form {
  padding-right: 0;
  width: 120px;
}

.subdomain-label {
  color: $color-white;
  font-size: 0.75rem !important;
  line-height: 1 !important;
  padding-left: 0;
  padding-top: 12px;
  white-space: nowrap;

  a {
    color: $color-white !important;
  }
}
