.lolight {
  padding: 20px;
  border-radius: $border-radius;
  background: $color-black;
  font-size: 12px !important;
  line-height: 1.3;

  .ll-nam {
    /* words */
    color: $color-lightgrey;
  }
  .ll-num {
    /* numbers */
    color: $color-danger;
  }
  .ll-str {
    /* strings */
    color: $color-success;
  }
  .ll-rex {
    /* regular expressions */
    color: $color-warning;
  }
  .ll-pct {
    /* operators, punctation */
    color: $color-lightergrey;
  }
  .ll-key {
    /* keywords */
    color: $color-lightpurple;
    font-weight: bold;
  }
  .ll-com {
    /* comments */
    color: $color-lightgrey;
    font-style: italic;
  }
}
