#new-instance-modal,
#new-org-modal {
  .card {
    box-shadow: none !important;
  }

  .instance-form-card-holder {
    &:first-child {
      @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }
  }
}

.modal-dialog {

  .modal-content {
    border: 1px solid $faintest-white-overlay;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 5px $dark-grey-overlay;
    min-width: 304px;

    .modal-header {
      background: $gradient-purple-magenta !important;
      border-bottom: 1px solid $faintest-white-overlay !important;
      border-radius: $border-radius $border-radius 0 0 !important;
      color: $color-white !important;

      &::after {
        background: radial-gradient($color-purple 1px, transparent 0);
        background-size: 3px 3px;
      }

      .close {
        color: $color-white;
      }

      .modal-title {
        font-size: 1.1rem !important;
      }
    }
  }
}
