#new-instance-modal {
  .card {
    .instance-form-card-body {
      background: $lightest-grey-overlay;
    }
  }

  .instance-form-card-holder {
    &:first-child {
      @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }
  }
}

.modal-dialog {
  min-width: 304px;
}
