#new-instance-modal,
#new-org-modal {
  .instance-form-card-holder {
    &:first-child {
      @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }
  }
}

.modal-dialog {
  box-shadow: 0 0 5px $dark-grey-overlay;
  border-radius: $border-radius;
  overflow: hidden;
  min-width: 304px;

  .modal-content {
    border-radius: $border-radius;
    overflow: hidden;
    border: 1px solid $faintest-white-overlay;

    .modal-header {
      background: $gradient-purple-magenta;
      color: $color-white;
      border-bottom: 1px solid $faintest-white-overlay;
      border-radius: $border-radius $border-radius 0 0;

      &::after {
        background: radial-gradient($color-purple 1px, transparent 0);
        background-size: 3px 3px;
      }

      .close {
        color: $color-white;
      }

      .modal-title {
        font-size: 1.1rem !important;
      }
    }
  }
}



