#query-window {
  textarea {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
    height: calc(31vh - 84px) !important;
    min-height: 128px;
    tab-size: 2;

    @media screen and (max-width: 767px) {
      height: 100px !important;
      max-height: 100px;
      min-height: 100px;
    }
  }
}



