.ReactTable {
  border: 0 !important;
  cursor: pointer;
  font-size: 12px;
  line-height: 1 !important;

  .rt-thead {
    &.-header {
      border-top: 1px solid $lighter-grey-overlay !important;
      font-weight: $font-weight-bold;
    }

    &.-filters {
      input {
        background: $lighter-grey-overlay !important;
      }
    }
  }

  .rt-thead,
  .rt-tbody {
    &.-header,
    .rt-tr-group {
      border-bottom: 1px solid $lighter-grey-overlay;
      box-shadow: none !important;
    }

    .rt-td,
    .rt-th {
      border-right: 0 !important;
      text-align: left !important;

      &.-sort-desc {
        box-shadow: inset 0 -2px 0 0 $color-black;
      }

      &.-sort-asc {
        box-shadow: inset 0 2px 0 0 $color-black;
      }
    }
  }

  .rt-tbody {
    .rt-td {
      font-family: Helvetica, Arial, sans-serif !important;
      overflow: visible;
    }
  }

  .-pagination {
    border-top: 1px solid $lighter-grey-overlay;
    box-shadow: none;
    padding-top: 1rem;

    .-btn {
      background: $color-purple !important;
      color: $color-white !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
      height: 33px;
      margin-top: 3px;
      min-width: 100px;

      &:hover {
        background: $color-purple !important;
        color: $color-white !important;
      }
    }

    .-previous,
    .-next {
      flex: 0 1;
    }

    .-center {
      flex: none;
    }

    .-previous,
    .-center,
    .-next {
      @media screen and (max-width: 905px) {
        display: block;
        flex: none;
        margin-bottom: 5px;
        width: 100%;

        .-pageInfo {
          margin-left: 0;
        }

        .-pageSizeOptions {
          margin-right: 0;
        }
      }
    }
  }

  .rt-noData {
    display: none;
  }

  .text-renderer {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input,
  select {
    border: 0 !important;
    box-shadow: none;
    color: $color-black;
    height: 33px !important;
  }

  .image-renderer {
    position: relative;

    .preview-image {
      border-radius: 6px;
      box-shadow: 0 0 3px $black-overlay;
      left: 25px;
      max-height: 150px;
      max-width: 150px;
      position: absolute;
      width: auto;
    }
  }

}

.react-table-holder {
  min-height: 714px;
}
