.react-table-scroller {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  .react-table {
    font-size: 12px;

    .header {
      font-weight: bold;

      .col {
        min-width: 100px;
        white-space: nowrap;
        border-top: 1px solid $lighter-grey-overlay;

        &.sorted{
          &.desc {
            box-shadow: inset 0 -2px 0 0 $lighter-grey-overlay;
          }
          &.asc {
            box-shadow: inset 0 2px 0 0 $lighter-grey-overlay;
          }

        }
      }
    }

    .filter {
      .col {
        padding: 0.4rem 0.3rem 0.4rem 0 !important;
      }
    }

    .rows {
      min-height: 555px;
    }

    .row {
      margin: 0;
      overflow: visible;
      white-space: nowrap;
      width: 100%;
      flex-wrap: nowrap;
      cursor: pointer;

      .col {
        min-width: 100px;
        white-space: nowrap;
        padding: 0.4rem 0.5rem;
        border-bottom: 1px solid $lighter-grey-overlay;
      }
    }

    input,
    select {
      background: $light-grey-overlay;
      box-shadow: none;
      color: $color-black;
      height: 24px !important;
      width: 100%;
    }

    .text-renderer {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .image-renderer {
      position: relative;
      padding-left: 10px;

      .preview-image {
        border-radius: 4px;
        box-shadow: 0 0 4px $grey-overlay;
        left: 40px;
        top: -5px;
        max-height: 150px;
        max-width: 150px;
        position: absolute;
        width: auto;
        z-index: 99;

        &.no-image {
          width: 150px;
          height: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: $color-white;
        }
      }
    }
  }
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input {
    text-align: center;
    max-width: 50px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0 5px;
  }
}

.page-size {
  select {
    max-width: 100px;
  }
}


.ReactTable {
  border: 0 !important;
  cursor: pointer;
  font-size: 12px;
  line-height: 1 !important;

  .rt-thead {
    &.-header {
      border-top: 1px solid $lighter-grey-overlay;
      font-weight: $font-weight-bold;
    }

    &.-filters {
      input,
      select {
        background: $lighter-grey-overlay;
        box-shadow: none;
        color: $color-black;
        height: 33px !important;
      }
    }
  }

  .rt-thead,
  .rt-tbody {
    &.-header,
    .rt-tr-group {
      border-bottom: 1px solid $lighter-grey-overlay;
      box-shadow: none !important;
    }

    .rt-td,
    .rt-th {
      border-right: 0 !important;
      text-align: left !important;

      &.-sort-desc {
        box-shadow: inset 0 -2px 0 0 $color-black;
      }

      &.-sort-asc {
        box-shadow: inset 0 2px 0 0 $color-black;
      }
    }
  }

  .rt-tbody {
    .rt-td {
      font-family: Helvetica, Arial, sans-serif !important;
      overflow: visible;
    }
  }

  .-pagination {
    border-top: 1px solid $lighter-grey-overlay;
    box-shadow: none;
    padding-top: 1rem;

    .-btn {
      background: $color-purple !important;
      color: $color-white !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
      height: 33px;
      margin-top: 3px;
      min-width: 100px;

      &:hover {
        background: $color-purple !important;
        color: $color-white !important;
      }
    }

    .-previous,
    .-next {
      flex: 0 1;
    }

    .-center {
      flex: none;
    }

    .-previous,
    .-center,
    .-next {
      @media screen and (max-width: 905px) {
        display: block;
        flex: none;
        margin-bottom: 5px;
        width: 100%;

        .-pageInfo {
          margin-left: 0;
        }

        .-pageSizeOptions {
          margin-right: 0;
        }
      }
    }
  }

  .rt-noData {
    display: none;
  }

  .text-renderer {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image-renderer {
    position: relative;

    .preview-image {
      border-radius: 4px;
      box-shadow: 0 0 3px $black-overlay;
      left: 25px;
      max-height: 150px;
      max-width: 150px;
      position: absolute;
      width: auto;
    }
  }
}
