.react-toggle {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  position: relative;
  touch-action: pan-x;
  user-select: none;
  width: 100%;

  &-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.25s;
  }

  &-track {
    border-radius: 30px;
    display: inline-block;
    height: 100%;
    transition: all 0.2s ease;
    width: 100%;
    border: 1px solid transparent !important;
    background: $color-lightgrey !important;
  }

  &-track-check,
  &-track-x {
    align-items: center;
    color: $color-white;
    display: flex;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    transition: opacity 0.25s ease;
    white-space: nowrap;
  }

  &-track-check {
    opacity: 0;
  }

  &-track-x {
    opacity: 1;
  }

  &-thumb {
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: none;
    box-sizing: border-box;
    height: 20px;
    left: 2px;
    outline: none;
    position: absolute;
    top: 2px;
    transition: all 0.25s ease;
    width: 20px;
  }

  &--checked {
    .react-toggle-track {
      background-color: $color-success !important;
    }

    .react-toggle-track-check {
      opacity: 1;
    }

    .react-toggle-track-x {
      opacity: 0;
    }

    .react-toggle-thumb {
      left: calc(100% - 22px);
    }
  }
}
