.app-subnav {
  background: $grey-overlay !important;
  border-bottom: 1px inset $black-overlay;
  border-top: 1px inset $black-overlay;
  height: 50px;
  min-width: $min-width;
  padding: 5px 2rem;
  position: fixed;
  top: 60px !important;
  transition: top 250ms;
  width: 100%;
  z-index: 98 !important;

  .navbar-nav {
    margin: 0 auto;
    width: 100%;

    .nav-item {
      line-height: 1 !important;
      margin-bottom: 0;
      padding: 0 10px;

      @media screen and (max-width: 991px) {
        font-size: 0.875rem;
        padding: 0 5px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .nav-link,
      a {
        color: $white-overlay !important;
        display: inline-block;
        padding: 0 !important;
        transition: color 250ms;

        &.active,
        &:hover {
          color: $color-white !important;
        }
      }
    }

    &.instance-nav {
      justify-content: flex-end !important;

      @media screen and (max-width: 767px) {
        justify-content: center !important;
      }
    }

    &.instance-select {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      justify-content: center !important;
      max-width: 400px;
      text-align: center;
    }
  }
}
