#app-nav {
  background: $gradient-purple-magenta !important;
  border-bottom: 1px solid transparent;
  height: 60px;
  min-width: $min-width;
  padding: 0 2rem;
  position: fixed;
  z-index: 99 !important;

  @media screen and (max-width: 991px) {
    padding: 0 1rem;
  }

  #logo {
    background-image: url('/images/logo.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 140px;

    @media screen and (max-width: 650px) {
      background-image: url('/images/logo_circle_only.png');
      width: 40px;
    }
  }

  .navbar-nav {
    justify-content: flex-end;

    .nav-item {
      margin-bottom: 0 !important;
      white-space: nowrap;
      display: inline-flex;
      align-items: center;

      .nav-link,
      a {
        color: $white-overlay !important;
        display: inline-block;
        min-width: 15px;
        padding: 0 !important;
        position: relative;
        transition: color 250ms;

        &.active,
        &:hover {
          color: $color-white !important;
        }

        .invite-badge {
          align-items: center;
          background: $color-danger;
          border-radius: 10px;
          color: $color-white;
          display: flex;
          font-size: $font-size-small;
          height: 13px;
          justify-content: center;
          line-height: 1;
          position: absolute;
          right: -10px;
          top: -5px;
          width: 13px;
        }
      }
    }
  }
}
