#app-nav {
  background: $gradient-purple-magenta !important;
  border-bottom: 1px solid transparent;
  height: 60px;
  min-width: $min-width;
  padding: 0 2rem;
  position: fixed;
  z-index: 99 !important;

  @media screen and (max-width: 991px) {
    padding: 0 1rem;
  }

  #logo {
    background-image: url('/images/logo.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 140px;

    @media screen and (max-width: 385px) {
      background-image: url('/images/logo_circle_only.png');
      width: 40px;
    }
  }

  .nav-item {
    display: inline-block;
    margin-bottom: 0 !important;
    white-space: nowrap;

    .nav-link,
    a {
      color: $white-overlay !important;
      display: inline-block;
      padding: 0 !important;
      transition: color 250ms;

      &.active,
      &:hover {
        color: $color-white !important;
      }
    }
  }
}
