.web-ide {

  .install-window {
    display: flex;
    flex-direction: inline-flex;
    input {
      margin-right: 5px;
      padding-right: 5px;
    }
  }

  color: white;
  height: 75vh;
  overflow: hidden;
  background: black;


  .github-tag-list {
    min-width: 100px;
  }

  hr {
    border: 0.6px solid white;
  }

  & ul, & li {
    list-style-type: none;
  }

   .deploy-component-project-name {
      color: rgb(25, 168, 148);
      font-weight: bold;
    }

  .rename-file {
     color: rgb(120,120,120);
  }
  .rename-file:hover {
     color: white !important;
   }
  .file {
    &:hover {
      color: rgb(100,100,100);
      .rename-file {
        color: rgb(100,100,100);
      }

    }

    .deploy-project {
      color: rgb(100,100,100);
      &:hover {
        color:white;
      }
    }
  }

  .install-package-form {
    display: flex;
    flex-direction: column;

    & > label {
      margin-bottom: 20px;
    }
  }
  .rename-file,
  .deploy-project {
    margin-left: 8px;
  }
  .rename-file {
    color: transparent;
  }

  .editor-window {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .editor {
      &.current-file-path::before {
        content: '> ';
      }
      &.current-file-path {
        align-self: flex-start;
      }
    }

  }

  .file-menu,
  .editor-menu {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #2e2e2e;


    & > li {
      margin: 0px 5px 5px 0px;
      padding: 0px 5px 0px 0px;
    }

    .add-project:hover {
      color: rgb(25, 168, 148);
    }
    .install-package:hover {
      color: #f24242;
    }

    .add-folder:hover,
    .delete-folder:hover {
      color: rgb(143, 141, 255);
    }
    .delete-file:hover {
      color: yellow;
    }

    .save-code,
    .install-package,
    .add-folder,
    .add-project,
    .upload-file,
    .delete-folder,
    .delete-file,
    .install-package-project,
    .add-file {
      border: none;
      outline: none !important;
      background: transparent;
      color: white;
      padding: 0px;
      margin: 0px;
    }

    .save-code {
      color: #ee81ee;
    }

    .install-package {
    }

    button[disabled] {
      color: #5e5e5e;
    }
  }


  .name-input.disabled {
    display: none;
  }


  .filename-dialog {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .code-editor-container {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .file-browser-container {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;

    .file-browser {

      margin-left: 0;
      padding-left: 0;

      .folder-container {
        padding-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      .file.file-selected {
        color: #ee81ee;
        background: #191919 !important;
          // background: #4a4a4a !important;
          //border: 1px solid rgb(120,120,120);;
      }
      .file.folder-selected {
          background: #191919 !important;
      }
      .package.package-selected {
          color: #f24242; 
      }

      .project-icon {
        color: rgb(25,168,148);
      }
      .package-icon {
        color: #f24242;
      }

      .file,
      .package {

        white-space: nowrap;
        border: 1px solid transparent;
        &.selected {
        }

        background: transparent;
        list-style-type: none;
        color: white ;
        outline: none !important; // TODO: fix this because it is not accessible; style differently
        margin: 0;
        padding: 3px 2px;

        .package-text,
        .filename-text {
          padding-left: 5px;
        }

        .file-icon.filetype-js {
          color: #f7df1e;
        }

        .file-icon.filetype-yaml {
          color: #c4c4ff;
        }
        .file-icon.filetype-unknown {
          color: lightgray;
        }

        .folder-icon {
          color: rgb(143 141 255);
        }
      }
      .folder {
        padding-left: 15px;
      }
      .folder.folder-contents-closed {
        display: none;
      }
      .folder.folder-contents-open {
        display: block;
      }
    }
  }

}
