{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    ["transform-imports", { "@nio/ui-kit": { "transform": "@nio/ui-kit/dist/components/${member}", "preventFullImport": true } }]
  ]
}
