#login-form {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  max-width: 270px;
  min-height: 343px;
  min-width: 270px;
  overflow: visible;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;

  &.sign-up {
    max-width: 540px;
    min-height: 553px;

    @media screen and (max-width: 575px) {
      max-width: 270px;
    }
  }

  #login-logo {
    background-image: url('https://ds5zz9rfvzuta.cloudfront.net/images/logo_vertical_white.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin: 0 auto 20px;
    width: 80px;
  }

  .card {
    background: $faint-white-overlay !important;
    border: 1px solid $faint-white-overlay !important;
    min-height: 186px !important;
    z-index: 2;

    .card-body {
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  input {
    background: $lighter-grey-overlay !important;
    border: 1px solid $faint-white-overlay !important;
    box-shadow: inset 0 0 6px 1px $lighter-grey-overlay !important;
    color: $color-white !important;
    text-align: center !important;

    &::placeholder {
      color: $white-overlay !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
      text-align: center !important;
    }
  }

  .subdomain-form {
    padding-right: 0;
    width: 120px;
  }

  .subdomain-label {
    color: $color-white;
    font-size: 0.75rem !important;
    line-height: 1 !important;
    padding-left: 0;
    padding-top: 12px;
    white-space: nowrap;

    a {
      color: $color-white !important;
    }
  }



  .disclaimer {
    border-bottom: 1px solid $faint-white-overlay;
    border-top: 1px solid $faint-white-overlay;
    color: $white-overlay !important;
    font-size: $font-size-small;
    margin-bottom: 15px;
    margin-top: 6px;
    padding: 10px 0;
    text-align: center;

    @media screen and (max-width: 575px) {
      font-size: $font-size-smaller;
    }

    a,
    a:hover {
      color: $light-white-overlay !important;
      text-decoration: underline !important;
    }
  }

  .btn {
    text-transform: lowercase;
  }

  .login-nav-link {
    color: $white-overlay !important;
    display: block;
    font-size: $font-size-small;
    text-transform: lowercase;
    white-space: nowrap;

    &:hover {
      color: $color-white !important;
    }

    &.error {
      color: $color-danger !important;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }
}
