.auth-studio-info {
  color: $color-white;
  background: linear-gradient(44.5deg, $color-darkblue 39.04%, $color-pink 98.58%);
}

.btn-gradient-blue {
  background: linear-gradient(90deg, $color-lightblue 0%, $color-blue 100%) !important;

  &:hover {
    background: $color-blue !important;
  }
}

.login-form {
  width: 100%;
  max-width: 320px;
  color: $color-white;

  .instructions {
    font-size: 1.5rem !important;
    font-weight: $font-weight-light;
  }
  &.sign-up {
    max-width: 770px;

    @media screen and (width <= 767px), screen and (height <= 530px) {
      margin-bottom: 50px;
      top: -50px;
      transform: translateX(-50%);
    }

    hr {
      background: $faint-white-overlay;
    }

    .sign-up-header {
      border-bottom: 1px solid $faint-white-overlay;
      font-size: 1.5rem !important;
      line-height: 1 !important;
      margin-bottom: 25px !important;
      padding-bottom: 25px;
      text-align: center;
      width: 100%;

      @media screen and (width <= 767px) {
        font-size: 1.1rem !important;
      }
    }

    .sign-up-content {
      width: 100%;

      h3 {
        font-size: 1.1rem !important;
        padding-top: 15px;
      }
    }

    .sign-up-form {
      .subdomain-explanation {
        display: block;
        font-size: 0.7rem;
        padding-bottom: 8px;
      }
    }
  }

  input {
    background: $faint-white-overlay !important;
    color: $color-white;

    &::placeholder {
      color: $white-overlay !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
    }
    &:focus {
      color: $color-white;
      border-color: $color-lightblue;
      outline: 0;
    }
  }

  .disclaimer {
    color: $white-overlay !important;
    font-size: $font-size-small;

    a,
    a:hover {
      color: $light-white-overlay !important;
      text-decoration: underline !important;
    }
  }

  .login-nav-link-holder {
    &:last-child {
      text-align: right;
    }
  }

  .login-nav-link {
    color: $color-white !important;
    font-size: $font-size-root;
    height: 16px;
    text-transform: lowercase;
    white-space: nowrap;

    &:hover {
      color: $color-white !important;
    }

    &.error {
      color: $color-danger !important;
      font-weight: $font-weight-bold;
      text-align: center;
      white-space: normal;
      width: 100%;
    }
  }
}
