#config {
  .instance-details {
    .nowrap-scroll {
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .log-scroller {
    height: calc(100vh - 480px);
    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (max-width: 991px) {
      height: auto;
    }

    .log-row {
      border-bottom: 1px solid $lightest-grey-overlay !important;
      color: $color-grey;
      padding: 8px 0;

      &.error,
      &.fatal {
        color: $color-danger;
      }

      &.pinned {
        background: $color-danger;
        color: $color-white;
      }
    }
  }
}
