#config {
  .instance-details {
    min-height: 174px;

    .nowrap-scroll {
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .log-scroller {
    height: calc(100vh - 495px);
    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (max-width: 991px) {
      height: auto;
    }

    .log-row {
      border-bottom: 1px solid $lightest-grey-overlay;
      padding: 8px 0;

      .error,
      .fatal {
        color: $color-danger;
      }

      .warn {
        color: $color-warning;
      }

      .complete,
      .notify {
        color: $color-success;
      }
    }
  }
}
