#dashboard {
  .instructions {
    color: $color-white;
  }

  .data-loader {
    align-items: center;
    display: flex;
    height: 250px;
    justify-content: center;
  }

  .chart-remove {
    position: absolute;
    right: 30px;
    top: 27px;
    z-index: 99999;
  }
}
