#outdated {
  display: none;
  left: 50%;
  max-width: 500px;
  min-width: 294px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  #content {
    background: $faint-white-overlay !important;
    border: 1px solid $faint-white-overlay !important;
    border-radius: 4px;
    color: $color-white;
    padding: 30px;
    text-align: center;

    hr {
      border-color: $faint-white-overlay !important;
    }

    ul {
      margin-bottom: 0;
    }

    a,
    a:hover {
      color: $color-white !important;
    }
  }
}
