#support {
  .card-body {
    &.installation {
      min-height: 414px;

      @media only screen and (max-width: 991px) {
        min-height: 0;
      }
    }
  }

  a {
    text-decoration: underline !important;

    &.btn {
      text-decoration: none !important;
    }
  }



  .alert {
    overflow-x: auto;
    white-space: nowrap;
  }
}
