a,
button,
input,
textarea,
.item-row,
select,
.card {
  &:focus {
    box-shadow: inset 0 0 0 2px $color-lightpurple !important;
    outline: none !important;
  }
}

.dark {
  a,
  input,
  textarea,
  .item-row,
  select,
  button,
  .card {
    &:focus {
      box-shadow: inset 0 0 0 2px $white-overlay !important;
      outline: none !important;
    }
  }
}

.light {
  a,
  input,
  textarea,
  .item-row,
  select,
  button,
  .card {
    &:focus {
      box-shadow: inset 0 0 0 2px $light-grey-overlay !important;
      outline: none !important;
    }
  }
}
