a,
button,
input,
textarea,
.item-row,
select,
i,
.card,
.btn,
[role='button'] {
  &:focus {
    outline: 1px solid $light-white-overlay !important;
    outline-offset: 3px !important;
  }
}

input,
textarea,
.item-row,
[role='button'] {
  &:focus {
    outline-offset: -1px !important;
  }
}

.dark {
  a,
  button,
  input,
  textarea,
  .item-row,
  select,
  i,
  .card,
  .btn,
  [role='button'] {
    &:focus {
      outline-color: $light-white-overlay !important;
    }
  }
}

.light {
  a,
  button,
  input,
  textarea,
  .item-row,
  select,
  i,
  .card,
  .btn,
  [role='button'] {
    &:focus {
      outline-color: $color-lightpurple !important;
    }
  }
}
