$partner-brand-color: #cd040b;

.verizon {
  #app-nav {
    background: $color-white !important;
    border-bottom: 1px solid $color-lightgrey;

    #logo {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0ic3ZnMzYwMSIKICAgdmlld0JveD0iMCAwIDUwMC4wMDAwMSAxMTIuMzE1OTciCiAgIGhlaWdodD0iMTEyLjMxNTk3IgogICB3aWR0aD0iNTAwIj4KICA8ZGVmcwogICAgIGlkPSJkZWZzMzYwMyIgLz4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGEzNjA2Ij4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZwogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xOTguMTcyNjYsLTQ1NC43OTE3NykiCiAgICAgaWQ9ImxheWVyMSI+CiAgICA8ZwogICAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMi40NTk2NjUsMCwwLC0yLjQ1OTY2NSw2ODYuMTczMDQsNDU1Ljc5MTc3KSIKICAgICAgIGlkPSJnMzM0NiI+CiAgICAgIDxwYXRoCiAgICAgICAgIGlkPSJwYXRoMzM0OCIKICAgICAgICAgc3R5bGU9ImZpbGw6I2NkMDQwYjtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZSIKICAgICAgICAgZD0ibSAwLDAgLTExLjAzNSwtMjMuNjYgLTQuMTcsOC45NzcgLTQuNTA3LDAgNi44NDcsLTE0LjY4MyAzLjY0MiwwIEwgNC40NzIsLTAuMDA0IDQuNDcyLDAgMCwwIFoiIC8+CiAgICA8L2c+CiAgICA8cGF0aAogICAgICAgaWQ9InBhdGgzMzU4IgogICAgICAgc3R5bGU9ImZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZSIKICAgICAgIGQ9Im0gMzk3Ljc0NjMzLDQ2Ni4zMjY1MSAyMi4wNjA3NCwwIDAsMTkuNTMyMiAtMjIuMDYwNzQsMCAwLC0xOS41MzIyIHogbSAtMTczLjU1ODg4LDk3LjUzMDY0IDIzLjA0NzA2LDAgMjUuMDE0OCwtNzEuOTUyNTggLTIyLjA2MzIsMCAtMTQuMDUyMDYsNDYuMjM0MzIgLTAuMjg1MzMsMCAtMTQuMDUyMDYsLTQ2LjIzNDMyIC0yMi42MjQsMCAyNS4wMTQ3OSw3MS45NTI1OCB6IG0gODAuOTQ1MTIsLTU4LjMxNjIgYyA3LjcyODI2LDAgMTMuMDcwNjYsNS43NjA1NCAxMy45MTE4NiwxNC4xOTIyNyBsIC0yOS4zNzA4NiwwIGMgMS42ODczMywtOC41NzQ0IDYuMzIzOCwtMTQuMTkyMjcgMTUuNDU5LC0xNC4xOTIyNyBtIDEuMTI0MDYsNDQuNTQ0NTMgYyAtOS42OTYsMCAtMTUuNTk2NzMsLTYuMzIzOCAtMTYuNzIzMjYsLTE2LjAxOTggbCA1MS44NTcxMiwwIGMgMC4xNDAzLC0xNS40NTg5OSAtMy45MzMwMSwtMjcuODIzNzMgLTEyLjUwOTg2LC0zNS41NTE5OSAtNi4wNDA5NCwtNS42MjI4IC0xNC4wNTIwNiwtOC43MTQ2IC0yNC4xNjg2NywtOC43MTQ2IC0yMS42NDI1OSwwIC0zNi42ODA5OCwxNi40NDI4NiAtMzYuNjgwOTgsMzcuOTQyOCAwLDIxLjY0MjU5IDE0LjMzNzM5LDM4LjIyNTY1IDM4LjA4NTQ1LDM4LjIyNTY1IDguOTk1LDAgMTYuMTYsLTIuMzkwOCAyMi4wNjMyLC02LjQ2ODkyIDYuMzIzOCwtNC4zNTExNSAxMC44MjAwNiwtMTAuNjc3NDEgMTIuMDg2NzksLTE3LjAwMTIgbCAtMjEuMDgxNzksMCBjIC0yLjEwNTQ3LDQuNzgxNTggLTYuNDY0LDcuNTg4MDYgLTEyLjkyOCw3LjU4ODA2IG0gNDAuMzMzNTksMTMuNzcxNjcgMjEuOTIyOTksMCAwLC0zMy4wMjM0NyBjIDAsLTE1LjAzMzQ3IDguOTkyNTQsLTIxLjY0MjU5IDIyLjc2MTc0LC0xOS44MTUwNiBsIDAuNDIzMDYsMCAwLC0xOC45Njg5MyBjIC0xLjEyNDA2LC0wLjQyMzA2IC0yLjM4ODMzLC0wLjU2MzI3IC00LjQ5NjI2LC0wLjU2MzI3IC04LjU2OTQ4LDAgLTE0LjMzMjQ3LDMuOTM1NDcgLTE5LjI1MTgsMTIuMzY0NzQgbCAtMC40MjMwNiwwIDAsLTExLjk0NjU5IC0yMC45MzY2NywwIDAsNzEuOTUyNTggeiBtIDUxLjE1NjExLDAgMjIuMDYwNzQsMCAwLC03MS45NTI1OCAtMjIuMDYwNzQsMCAwLDcxLjk1MjU4IHogbSAyOC4xMDY1OSwwIDYxLjU1MzEyLDAgMCwtMTcuMjg2NTMgLTM0Ljg1NTkxLDAgMCwtMC40MTgxNCAzMy4zMTEyNCwtMzcuMzc5NTMgMCwtMTYuODY4MzggLTYwLjAwODQ1LDAgMCwxNy4yODY1MiAzMy43MjQ0NywwIDAsMC40MjMwNyAtMzMuNzI0NDcsMzcuNjY0ODQgMCwxNi41NzgxNSB6IG0gMTAwLjQ3NzMyLC0xMy45MDk0MSBjIC0xMC4zOTk0NywwIC0xNS44NzcxNCwtOC43MTQ1OSAtMTUuODc3MTQsLTIxLjkyMjk5IDAsLTEzLjM1MTA2IDUuNDc3NjcsLTIxLjkyNzkyIDE1Ljg3NzE0LC0yMS45Mjc5MiAxMC40MDE5MiwwIDE2LjE2NDkxLDguNTc2ODYgMTYuMTY0OTEsMjEuOTI3OTIgMCwxMy4yMDg0IC01Ljc2Mjk5LDIxLjkyMjk5IC0xNi4xNjQ5MSwyMS45MjI5OSBtIDAuMTQyNjYsLTYwLjAxMDkgYyAtMjIuOTA2ODYsMCAtMzguMjI1NjYsMTYuNDQ1MzIgLTM4LjIyNTY2LDM4LjA4NzkxIDAsMjEuNDk5OTMgMTUuMzE4OCwzOC4wODI5OSAzOC4yMjU2NiwzOC4wODI5OSAyMi45MDQ0LDAgMzguMjIzMTksLTE2LjU4MzA2IDM4LjIyMzE5LC0zOC4wODI5OSAwLC0yMS42NDI1OSAtMTUuMzE4NzksLTM4LjA4NzkxIC0zOC4yMjMxOSwtMzguMDg3OTEgbSA0My4wMDIzMiw3My45MjAzMSAyMS45MjI5OSwwIDAsLTQwLjA1MDczIGMgMCwtOS4xMzI3MyA1LjMzNzQ4LC0xNS41OTY3MyAxMy4yMDU5NCwtMTUuNTk2NzMgNy41OTA1MywwIDExLjUyNTk5LDUuMzM3NDcgMTEuNTI1OTksMTIuOTI4IGwgMCw0Mi43MTk0NiAyMS45MjU0NiwwIDAsLTQ2LjkzNzc5IGMgMCwtMTUuODc3MTQgLTkuNTU1OCwtMjcuMTIwMjcgLTI1LjAxNDgsLTI3LjEyMDI3IC05Ljg0MTEyLDAgLTE2LjcyMzI2LDQuMjE4MzMgLTIxLjkyMDUzLDExLjk0NjYgbCAtMC40MjMwNiwwIDAsLTkuODQxMTIgLTIxLjIyMTk5LDAgMCw3MS45NTI1OCB6IiAvPgogIDwvZz4KPC9zdmc+Cg==');
      height: 20px;

      @media screen and (width <= 530px) {
        background-image: url('../../images/logo/lumen_e_only.png');
        width: 17px;
      }
    }

    .navbar-nav {
      .active-org {
        background: $gradient-white-lightgrey;
        border-right-color: $color-grey !important;

        .org-name {
          color: $color-black !important;
        }
      }

      .nav-item {
        .btn-link,
        .nav-link,
        a {
          color: $grey-overlay !important;

          &.active {
            color: $black-overlay !important;
          }
        }
      }
    }
  }

  #app-bg-color {
    background: $color-white !important;
    z-index: -2;
  }

  .app-subnav {
    background: $partner-brand-color !important;
    border-bottom: 1px solid $color-lightgrey;

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $color-white !important;

          &.active {
            color: $color-white !important;
          }
        }
      }
    }

    .react-select-container {
      .react-select__control,
      .react-select__control:hover,
      .react-select__control:focus,
      .react-select__control--menu-is-open,
      .react-select__control--is-focused,
      .react-select__indicator-separator {
        background: transparent !important;
        border-color: $color-white !important;

        .react-select__single-value {
          color: $color-white;
        }

        .react-select__indicator-separator {
          background: $lighter-grey-overlay !important;
        }
      }

      .react-select__option,
      .react-select__option:hover,
      .react-select__option:focus,
      .react-select__option--is-focused {
        background: $color-lightergrey !important;
        color: $partner-brand-color !important;
      }

      .react-select__menu {
        background: $color-lightergrey !important;
      }
    }

    .filter-holder {
      input {
        border: 1px solid $lighter-grey-overlay !important;
        color: $color-white !important;
      }

      .clear-filter {
        color: $color-white;
      }

      ::placeholder {
        color: $whiter-overlay !important;
      }
    }

    .refresh-instances {
      color: $color-white;
    }
  }

  a {
    color: $partner-brand-color !important;

    &:hover {
      color: $partner-brand-color !important;
    }
  }

  hr,
  .item-row,
  .log-row,
  .radio-button > div,
  .modal-header,
  .card.error,
  .card.success,
  .past-query {
    border-color: $lighter-grey-overlay !important;
  }

  .lolight {
    background-color: $dark-grey-overlay !important;
    border: 1px solid $lighter-grey-overlay !important;
  }

  .loader {
    .card {
      background: $color-white !important;
      border: 1px solid $lighter-grey-overlay !important;
      box-shadow: 0 0 5px $lighter-grey-overlay !important;

      .card-body {
        background: $gradient-white-lightgrey !important;
        color: $color-darkgrey !important;
      }
    }
  }

  .floating-card-header {
    color: $color-black !important;

    i {
      color: $color-grey !important;
    }

    .btn-link {
      color: $color-black !important;
    }
  }

  input,
  select,
  textarea,
  .fake-input,
  .form-control {
    background: $lightest-grey-overlay !important;
    color: $color-darkgrey !important;

    &.is-invalid,
    &.error {
      border: 1px solid $color-danger !important;
    }
  }

  .radio-checkbox {
    &.show {
      background-color: $partner-brand-color !important;
      border-color: $partner-brand-color !important;

      .dot {
        background: $partner-brand-color;
      }
    }
  }

  .entity-manager {
    .card {
      border: 1px solid $lighter-grey-overlay;

      .item-row {
        background: $lightest-grey-overlay !important;

        &.active {
          background: $lightest-grey-overlay !important;
        }
      }
    }
  }

  .content-container {
    .header-container {
      border-bottom: 1px solid $lighter-grey-overlay;

      .subheader {
        color: $partner-brand-color !important;
      }
    }
  }

  .react-select-container {
    width: 100%;

    .react-select__control,
    .react-select__control:hover,
    .react-select__control:focus,
    .react-select__control--menu-is-open,
    .react-select__control--is-focused,
    .react-select__indicator-separator {
      background: $lightest-grey-overlay !important;
      border-color: transparent !important;

      .react-select__single-value {
        color: $color-grey;
      }

      .react-select__indicator-separator {
        background: $lighter-grey-overlay !important;
      }
    }

    .react-select__option,
    .react-select__option:hover,
    .react-select__option:focus,
    .react-select__option--is-focused {
      background: $color-white !important;
      border-bottom: 1px solid $lighter-grey-overlay !important;
      color: $color-grey !important;

      &:last-child {
        border-bottom: 0 !important;
      }
    }

    .react-select__menu {
      background: $color-white !important;
    }
  }

  .drop-zone {
    background: radial-gradient($lighter-grey-overlay 1px, transparent 0) !important;
    background-size: 3px 3px !important;
    color: $color-grey !important;
  }

  .modal-content {
    background: $color-white !important;
    color: $color-grey !important;

    .modal-header {
      background: $gradient-white-lightgrey !important;
      color: $black-overlay !important;

      .btn-close {
        &::before {
          color: $black-overlay !important;
        }
      }
    }
  }

  .structure-reloader {
    button {
      color: $color-darkgrey !important;
    }
  }

  .json-editor-holder {
    background: $lightest-grey-overlay;
    box-shadow: inset 0 0 5px $lighter-grey-overlay !important;
  }

  .login-form {
    .card {
      background: $color-white !important;
      border: 1px solid $lighter-grey-overlay !important;
      color: $color-lightgrey !important;

      .instructions {
        color: $color-darkgrey;
      }
    }

    &.sign-up {
      .sign-up-content,
      .sign-up-header {
        color: $color-darkgrey !important;
      }

      .sign-up-header {
        border-bottom: 1px solid $light-grey-overlay;
      }

      hr {
        background: $light-grey-overlay;
      }
    }

    input {
      background: $lightest-grey-overlay !important;
      color: $color-black !important;

      &::placeholder {
        color: $color-grey !important;
      }
    }

    .disclaimer {
      color: $dark-grey-overlay !important;

      a {
        color: $dark-grey-overlay !important;
      }
    }

    .login-nav-link {
      color: $grey-overlay !important;

      &:hover {
        color: $grey-overlay !important;
      }

      &.error {
        color: $color-danger !important;
      }
    }

    .subdomain-label {
      color: $dark-grey-overlay;

      .btn-link {
        color: $light-grey-overlay;
      }
    }
  }

  #charts {
    .instructions {
      color: $color-darkgrey;
    }

    .dashboard-divider {
      background: $lighter-grey-overlay;
    }
  }

  .version {
    color: $color-darkgrey !important;
  }

  .btn-purple {
    background-color: $partner-brand-color !important;
  }

  .text-purple {
    color: $partner-brand-color !important;
  }

  ::placeholder {
    color: $light-grey-overlay !important;
  }
}
