// external resources
@import '~bootstrap-scss/bootstrap-reboot';
@import '~bootstrap-scss/bootstrap-grid';

@import 'assets/styles/core/vars';


@import '~bootstrap-scss/bootstrap-utilities';
@import '~bootstrap-scss/button-group';
@import '~bootstrap-scss/buttons';
@import '~bootstrap-scss/card';
@import '~bootstrap-scss/forms';
@import '~bootstrap-scss/modal';
@import '~bootstrap-scss/nav';
@import '~bootstrap-scss/navbar';
@import '~bootstrap-scss/close';

// core styles
@import 'assets/styles/core/base';
@import 'assets/styles/core/global';
@import 'assets/styles/core/typography';
@import 'assets/styles/core/background';
@import 'assets/styles/core/fonts';

// page styles
@import 'assets/styles/pages/instances';
@import 'assets/styles/pages/organizations';
@import 'assets/styles/pages/organization';
@import 'assets/styles/pages/auth';
@import 'assets/styles/pages/config';
@import 'assets/styles/pages/clustering';
@import 'assets/styles/pages/resources';
@import 'assets/styles/pages/outdated';
@import 'assets/styles/pages/charts';
@import 'assets/styles/pages/query';

// component styles
@import 'assets/styles/components/entity-manager';
@import 'assets/styles/components/react-table';
@import 'assets/styles/components/csv-uploader';
@import 'assets/styles/components/react-select';
@import 'assets/styles/components/modal';
@import 'assets/styles/components/loader';
@import 'assets/styles/components/alert';
@import 'assets/styles/components/card';
@import 'assets/styles/components/button';
@import 'assets/styles/components/content-container';
@import 'assets/styles/components/forms';
@import 'assets/styles/components/topnav';
@import 'assets/styles/components/subnav';
@import 'assets/styles/components/tooltip';
@import 'assets/styles/components/json-editor';
@import 'assets/styles/components/structure-reloader';
@import 'assets/styles/components/error-boundary';
@import 'assets/styles/components/code';
@import 'assets/styles/components/radio-checkbox';
@import 'assets/styles/components/react-toggle';
@import 'assets/styles/components/chart';
@import 'assets/styles/components/empty-prompt';
@import 'assets/styles/components/copyable-text-holder';
@import 'assets/styles/components/badge';
@import 'assets/styles/components/code-editor';

// override styles
@import 'assets/styles/overrides/dark';
@import 'assets/styles/overrides/light';
@import 'assets/styles/overrides/accessibility';
@import 'assets/styles/overrides/maintenance';
