$minWidth: 314px;

body {
  min-width: $minWidth;
  overflow-x: hidden;

  #app-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $gradient-purple-magenta !important;
  }

  #app {
    min-width: $minWidth;

    #app-container {
      min-width: $minWidth;
      margin-top: 135px;
      padding: 0 2rem;
      height: calc(100vh - 135px);
      transition: all 250ms;

      @media screen and (max-width: 991px) {
        padding: 0 1rem;
      }
    }

    #app-nav {
      min-width: $minWidth;
      background: $gradient-purple-magenta !important;
      padding: 0 2rem;
      position: fixed;
      z-index: 99 !important;
      height: 60px;

      @media screen and (max-width: 991px) {
        padding: 0 1rem;
      }

      #logo {
        height: 30px;
        width: 126px;
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
      }
      .nav-item {
        margin-left: 1.5rem;
      }
    }

    #app-subnav {
      width: 100%;
      min-width: $minWidth;
      background: $light-grey-overlay !important;
      padding: 5px 2rem;
      position: fixed;
      z-index: 98 !important;
      height: 50px;
      top: 60px !important;
      text-align: center;
      transition: top 250ms;
      box-shadow: inset 0 10px 5px -10px $grey-overlay, inset 0 -10px 5px -10px $grey-overlay;

      .navbar-nav {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;

        .nav-item {
          padding: 0 10px;

          @media screen and (max-width: 991px) {
            padding: 0 5px;
            font-size: 0.875rem;
          }


          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }

      .nav-link,
      a {
        padding: 0 !important;
      }

      @media screen and (max-width: 991px) {
        padding: 0 1rem;
      }
    }

    .nav-item {
      display: inline-block;
      white-space: nowrap;

      .nav-link,
      a {
        display: inline-block;
        color: $white-overlay !important;
        padding: 5px 0 0 !important;
        text-shadow: 0 2px 3px $grey-overlay;
        transition: color 250ms;

        &.active,
        &:hover {
          color: $color-white !important;
        }
      }

      .nav-divider {
        display: inline-block;
        color: $color-lightgrey !important;
        padding: 5px 0 0 !important;
      }
    }
  }
}
