.btn{
  border-radius: 6px !important;
  box-shadow: none !important;
  line-height: 1!important;

  &.round {
    padding: 0;
    width: 25px;
    height: 25px;
  }

  &.btn-grey {
    color: $color__white !important;
    border: none !important;
    background-color: $grey-overlay !important;
  }

  &.btn-purple {
    color: $color__white !important;
    border: none !important;
    background-color: $color__purple !important;
  }

  &.btn-outline-purple {
    color: $color__purple !important;
    border-color: $color__purple !important;
    background-color: transparent !important;
  }
}
