.floating-card-header {
  text-shadow: 0 2px 3px $grey-overlay;
  color: $color-white !important;
}

.card {
  background: $light-white-overlay !important;
  color: $color-black;
  border-radius: 4px !important;
  box-shadow: 0 0 5px $dark-grey-overlay;

  .card-body {
    padding: 15px;

    .scrollable {
      overflow-x: hidden;
      overflow-y: auto;
      height: 77px;
    }
  }

  &.instance,
  &.manage {
    height: 140px;
    cursor: pointer;

    .instance-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.error {
      input {
        border-color: $color-danger;
      }
    }
  }

  &.manage {
    height: 49px;
    margin-bottom: 1px;

    .card-body {
      padding-top: 7px;
      padding-bottom: 0;

      .instance-name {
        line-height: 1;
        padding-top: 3px;
      }
    }
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.no-background {
    background: none !important;
  }
}
