.floating-card-header {
  color: $color-white !important;
  text-shadow: 0 2px 3px $grey-overlay;
}

.card {
  background: $light-white-overlay !important;
  border-radius: 4px !important;
  box-shadow: 0 0 5px $dark-grey-overlay;
  color: $color-black;

  &.instance {
    cursor: pointer;
    height: 170px;

    .instance-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.error {
    border-color: $color-danger !important;
    box-shadow: none;

    input {
      border-color: $color-danger !important;
    }
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.no-background {
    background: none !important;
  }
}
