.card {
  background: $light-white-overlay !important;
  color: $color-black;
  border-radius: 4px !important;

  &.dark {
    background: $white-overlay !important;
  }

  .card-body {
    padding: 15px;

    .scrollable {
      overflow-x: hidden;
      overflow-y: auto;
      height: 75px;
    }
  }

  &.instance {
    height: 140px;
    cursor: pointer;

    &.error {
      input {
        border-color: $color-danger;
      }
    }
  }
}
