#clustering {
  .cluster-system {
    border-bottom: 1px solid $color-lightgrey;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .cluster-form {
    &.error {
      input {
        border-color: $color-danger;
      }
    }

    .form-cell {
      width: 20%;
    }
  }

  .config-row {
    border-bottom: 1px solid $color-grey;
    padding-bottom: 15px;
    padding-top: 15px;

    &:last-child {
      border-bottom: 0;
    }

    .text {
      height: 36px;
      padding-top: 10px;
    }
  }
}


