pre {
  code {
    padding: 4px 16px !important;
  }
  &:first-child {
    code {
      padding-top: 16px !important;
    }
  }
  &:last-child {
    code {
      padding-bottom: 16px !important;
    }
  }
}
