#csv-uploader {
  border: 0;
  height: 300px;
  position: relative;

  #csv-message {
    padding: 0 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .clear-files,
    .browse-files {
      z-index: 99999;
    }
  }

  .csv-reader-input {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    #csv-input {
      background: none !important;
      border: 0 !important;
      box-shadow: none !important;
      height: 330px;
      position: absolute;
      top: -30px;
      width: 100%;
    }
  }

}
