#csv-uploader {
  border: 0;
  height: 300px;
  position: relative;

  #csv-message {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;

    .clear-files,
    .browse-files {
      z-index: 99999;
    }
  }

  .csv-reader-input {
    border: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    #csv-input {
      background: none !important;
      height: 330px;
      position: absolute;
      top: -30px;
      width: 100%;
    }
  }

}
