.db-browser {
  padding-bottom: 10px;

  .card-body {
    padding: 0 15px;

    .item-row {
      border-bottom: 1px solid $light-grey-overlay;
      height: 49px;
      padding-bottom: 6px;
      padding-top: 12px;
      cursor: pointer;

      &.form {
        padding-bottom: 6px;
        padding-top: 7px;

        .input-holder {
          padding: 0 6px;
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      .btn {
        box-shadow: none !important;
      }

      .input-holder {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;

        input {
          background: rgba(255, 255, 255, 0.3);
          border-color: transparent;
          color: $color-black;

          &.is-invalid {
            border-color: $color-danger;
          }

          &.table {
            width: 50%;
          }
        }
      }

      .item-action {
        flex-grow: 0;
        flex-shrink: 1;
        min-width: 80px;
        padding-left: 0;
      }
    }
  }

  .fa-sm {
    font-size: 0.8rem;
  }
}
