#app-nav {
  .dropdown {
    width: 100%;

    &.nav-item {
      width: 250px;
    }

    span {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 15px;
      white-space: nowrap;
    }

    .dropdown-menu {
      width: 100%;
      border-radius: 6px;
      background-color: $color-black !important;
      z-index: 9999;
      margin: 0;
      padding: 0;

      .dropdown-item {
        color: $color-white;
        border-bottom: 1px solid $white-overlay;
        padding: .5rem 1.5rem;
        background-color: $color-black !important;
        border-radius: 6px;

        span {
          padding-right: 0;
        }

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          background-color: $color-black !important;
          color: $color-white;
        }
      }
    }

    .dropdown-toggle {
      padding-left: 1.5rem;
      width: 100%;
      text-align: left;
      position: relative;

      &::after {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
}
