input,
select,
textarea,
.stripe-input-holder,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid $color-lightgrey!important;
  background: $light-white-overlay !important;
  color: $color-black;
  font-family: $font-family-sans;
  font-weight: $font-weight-light;
  font-size: $font-size-root;
  outline: none !important;
  border-radius: 4px !important;
  height: 36px !important;
  box-shadow: none !important;
  -webkit-text-fill-color: $color-black !important;
  -webkit-box-shadow: 0 0 0 1000px $light-white-overlay inset;
  transition: background-color 5000s ease-in-out 0s;

  &::placeholder {
    text-align: left !important;
    color: $color-grey !important;
    font-family: $font-family-sans;
    font-weight: $font-weight-light;
  }

  &.text-center {
    &::placeholder {
      text-align: center !important;
    }
  }
}

textarea {
  height: auto !important;
}

.form-control {
  box-shadow: none !important;
}

.stripe-input-holder {
  padding: 8px 12px 0 12px;
  text-align: left;
}

.nio-check-mark:before {
  content: "\f00c";
}

.nio:before {
  font-family: 'FontAwesome'!important;
  font-style: normal;
  font-weight: 400!important;
  font-variant: normal;
  text-transform: none;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




