#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  max-width: 270px;
  height: auto;
  overflow: visible;

  #login-logo {
    margin: 0 auto 20px;
    height: 100px;
    width: 80px;
    background-image: url('/images/logo_vertical_white.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card {
    background: $white-overlay !important;
    box-shadow: none !important;
  }

  input {
    text-align: center !important;
    background: $white-overlay !important;
    color: $color-black !important;
    border: 0 !important;

    &::placeholder {
      text-align: center !important;
      color: $grey-overlay !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
    }
  }

  #login-error {
    height: 40px;
    line-height: 1.2 !important;

    .btn {
      &:hover {
        color: $color-white !important;
      }
    }
  }
}
