#login-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 270px;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  #login-logo {
    margin: 0 auto 20px;
    height: 100px;
    width: 80px;
    background-image: url('/images/logo_vertical_white.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card {
    background: $faint-white-overlay !important;
    box-shadow: 0 0 4px $lighter-grey-overlay !important;
    text-transform: lowercase;
    min-height: 173px !important;

    .card-body {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
  }

  input {
    text-align: center !important;
    background: $lighter-grey-overlay !important;
    color: $color-white !important;
    border: 0 !important;
    box-shadow: inset 0 0 4px $lighter-grey-overlay !important;

    &::placeholder {
      text-align: center !important;
      color: $white-overlay !important;
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
    }
  }

  .subdomain-label {
    font-size: .75rem;
    line-height: 1.7;
  }

  .login-nav-link {
    color: $white-overlay !important;
    text-transform: lowercase;

    &:hover {
      color: $color-white !important;
    }
  }
}
