#new-instance-modal {
  .modal-footer {
    display: block !important;
  }

  .new-instance-label {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .radio-button > div {
    border-bottom: 1px solid $light-grey-overlay;
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
      padding-bottom: 4px;
    }
  }

  .fieldset {
    border: 1px solid $light-grey-overlay;
    padding: 5px 15px;
    border-radius: 4px;
    max-height: 124px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
