#new-instance-modal {

  .card {
    box-shadow: none !important;

    .instance-form-card-body {
      background: $color-lightergrey;
    }
  }

  .instance-form-card-holder {

    &:first-child {
      @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }
  }
}
