.ReactTable {
  border: 0 !important;
  line-height: 1 !important;
  font-size: 12px;
  cursor: pointer;

  .rt-thead {
    &.-header {
      border-top: 1px solid rgba(0, 0, 0, .05) !important;
    }

    &.-filters {
      input {
        background: rgba(0, 0, 0, .2);
        border: 0;
      }
    }
  }

  .rt-thead,
  .rt-tbody {
    &.-header,
    .rt-tr-group {
      box-shadow: none !important;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    .rt-td,
    .rt-th {
      text-align: left !important;

      &.-sort-desc {
        box-shadow: inset 0 -2px 0 0 $color-black;
      }

      &.-sort-asc {
        box-shadow: inset 0 2px 0 0 $color-black;
      }
    }
  }

  .rt-tbody {
    .rt-td {
      overflow: visible;
    }
  }
  .-pagination {
    border-top: 1px solid rgba(0, 0, 0, .05);
    box-shadow: none;
    padding-top: 1rem;

    input,
    select {
      height: 30px;
    }

    .-btn {
      background: $color-purple !important;
      color: $color-white !important;

      &:hover {
        background: $color-purple !important;
        color: $color-white !important;
      }
    }
  }

  .rt-noData {
    display: none;
  }

  .text-renderer {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image-renderer {
    position: relative;

    .preview-image {
      max-height: 150px;
      max-width: 150px;
      width: auto;
      position: absolute;
      left: 25px;
      box-shadow: 0 0 3px $black-overlay;
      border-radius: 6px;
    }
  }

}
