#app-nav {

  .nav-item {
    margin-left: 1.5rem;
    display: inline-block;
    white-space: nowrap;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    .nav-link,
    a {
      display: inline-block;
      color: $color-lightgrey !important;
      padding: 5px 0 0 !important;

      &.active,
      &:hover {
        color: $color-white !important;
      }
    }

    .nav-divider {
      display: inline-block;
      color: $color-lightgrey !important;
      padding: 5px 0 0 !important;
    }
  }

  .collapse.show,
  .collapsing {
    left: 0;
    right: 0;
    margin: 0;
    top: 70px !important;
    background: $black-overlay;
    text-align: center !important;
    border: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;

    .navbar-nav {
      padding: 0;

      .nav-item {
        margin-left: 0;
        text-align: center;
        border-bottom: 1px solid $white-overlay;

        &:last-child {
          border-bottom: 0;
        }

        .nav-link,
        .nav-divider,
        a {
          display: block;
          padding: .5rem 0 !important;
        }

        .btn {
          margin: 5px auto;
          max-width: 250px;
        }

        .dropdown-menu {
          margin: 0 auto;
          max-width: 250px;
        }
      }
    }
  }
}


