body {
  color: $color-black;
  font-family: $font-family-sans;
  font-size: $font-size-root;
  font-weight: $font-weight-light;
  letter-spacing: 0.02rem;
  line-height: $font-line-height;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h1-max;
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h2-max;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h3-max;
  }
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h4-max;
  }
}

h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h5-max;
  }
}

h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-light;
  margin: 0 !important;
  @media (min-width: 1100px) {
    font-size: $font-size-h6-max;
  }
}

a {
  color: $color-purple !important;
  text-decoration: none !important;

  &:hover {
    color: $color-darkpurple !important;
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }
}

b,
.text-bold,
strong {
  font-weight: $font-weight-bold;
}

.text-small {
  font-size: $font-size-small;
  line-height: 1 !important;
}

.text-smaller {
  font-size: $font-size-smaller;
  line-height: 1 !important;
}

.text-smallest {
  font-size: $font-size-smallest;
  line-height: 1 !important;
}

.text-lightgrey {
  color: $color-lightgrey;
}

.text-darkgrey {
  color: $color-darkgrey;
}

.text-white-overlay {
  color: rgba(255, 255, 255, 0.6);
}

.text-purple {
  color: $color-purple;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/raleway-v14-latin-100.eot');
  src: local('Raleway Light'), local('Raleway-Light'),
    url('/fonts/raleway-v14-latin-100.eot?#iefix') format('embedded-opentype'),
    url('/fonts/raleway-v14-latin-100.woff2') format('woff2'),
    url('/fonts/raleway-v14-latin-100.woff') format('woff'),
    url('/fonts/raleway-v14-latin-100.ttf') format('truetype'),
    url('/fonts/raleway-v14-latin-100.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v14-latin-700.eot');
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('/fonts/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/raleway-v14-latin-700.woff2') format('woff2'),
    url('/fonts/raleway-v14-latin-700.woff') format('woff'),
    url('/fonts/raleway-v14-latin-700.ttf') format('truetype'),
    url('/fonts/raleway-v14-latin-700.svg#Raleway') format('svg');
}
