// color palette
$color-black: #212121;
$color-darkgrey: #696969;
$color-grey: #bcbcbc;
$color-lightgrey: #ddd;
$color-white: #fefefe;

$color-primary: #0280c4;
$color-success: #13c664;
$color-warning: #ffa500;
$color-danger: #ea4c89;
$color-info: #3360b3;
$color-darkpurple: #312556;
$color-purple: #403b8a;
$color-lightpurple: #7a3a87;

$gradient-purple-magenta: linear-gradient(45deg, $color-darkpurple, $color-purple, $color-lightpurple);
$white-overlay: rgba(255, 255, 255, .3);
$grey-overlay: rgba(0, 0, 0, .3);
$dark-grey-overlay: rgba(0, 0, 0, .5);
$black-overlay: rgba(0, 0, 0, .7);

$fa-font-path: '/fonts';
$border-radius-base: 0;
